.contact{
  width: 80%;
  height: 308px;
  margin: 50px auto 0 auto;
  background-color: black;
}

.contact__box{
  display: flex;
  text-align: justify;
  justify-content: space-between;
  margin: 50px auto;
  padding: 0 4.8%;
}

.contact__text{
  color: white;
  font-weight: 500;
  font-size: 18px;
}

