.section__title{
  font-weight: 600;
  font-size: 20px;
  color: #333;
  padding: 80px 0 20px 0;
  text-transform: capitalize;
}

.section__subtitle{
  width: 630px;
  font-weight: 600;
  font-size: 40px;
  color: #333;
  padding: 40px 0 20px 0;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.doctors .section__title{
  text-align: center;
}

.white__title{
  width: 55%;
  font-weight: 600;
  font-size: 40px;
  color: white;
  padding: 4.8% 0 20px 4.8%;
  text-align: left;
  text-transform: capitalize;
}